// Footer Type One
.footer.type-one {
  background-color: $black;
  color: $white;
  .footer-widget {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    text-align: center;
  }
  .widget-title {
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid $grey3;
    padding: 0 20px 5px 0;
    margin-bottom: 15px;
    text-align: left;
    color: $grey3;
    // margin-right: 20%;
    // display: inline-block;
  }
  .footer-widget ul {
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      color: $grey3;
      font-size: 13px;
      line-height: 1;
      padding: 5px 0;
      display: block;
      text-align: left;
      transition: all 0.5s ease-in-out;
      &:hover {
        color: $grey;
      }
    }
  }

  .copyright {
    // border-top: 1px solid $white;
    margin-top: 1rem;
    p {
      color: $grey3;
      font-size: 13px;
      padding-top: 1rem;
      display: inline-block;
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }
}

// Footer Type Two
.footer.type-two {
  .center-line.foo-line-two {
    display: none;
  }
  .copyright {
    margin: 1.5rem 0;
    color: $primary;
  }
}

// Footer Sub: Social Platforms
.footer-sub.social {
  padding: 1rem 0;
  background-color: $logo-color;
  color: $white;

  a {
    color: $white;
  }
  .widget-sub {
    p {
      font-size: 0.875rem;
    }
    .platforms li {
      display: inline-block;
      a {
        margin-right: 1rem;
        font-size: 1.5rem;
      }
    }
    img {
      height: 1.5rem;
    }
  }
  .widget-sub-title {
    font-size: 1rem;
    font-weight: 500;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .footer.type-one .copyright p {
    padding-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 0;
    padding-right: 0;
  }
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .footer.type-two {
    .center-line.foo-line-two {
      display: inline-block;
    }
    .copyright {
      margin: 0 0 1.5rem;
      p {
        padding-top: 1rem;
        margin-bottom: 0;
      }
    }
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .footer-sub.social .widget-sub .platforms li a {
    margin-right: 0.325rem;
  }

  .mc4wp-form-fields input[type="submit"] {
    margin-left: 0 !important;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* ************ Footer start ******************** */

// .footer-wrap .footer-top {
//   background: #055842;
//   padding: 40px 0;
// }
// .footer-wrap .footer-bottom {
//   background: #024936;
//   padding: 55px 0 8px 0;
// }

// .footer-wrap .copyright {
//   padding-top: 35px;
//   text-align: center;
// }
// .footer-wrap .copyright span {
//   color: #bfbfbf;
//   display: inline-block;
//   padding-top: 25px;
//   /* margin-top: 50px;*/
//   font-size: 13px;
// }
// .footer-top h3 {
//   font-size: 16px;
//   line-height: 25px;
//   font-weight: 700;
//   margin-bottom: 20px;
// }
// .footer-info-box {
//   font-size: 14px;
//   line-height: 20px;
// }
// .footer-info-box a {
//   color: #fff;
// }

// .footer-info-box .info-box-bottom svg {
//   font-size: 2.2rem;
// }
// .footer-info-box .social-icon-wrap a {
//   margin-right: 18px;
// }
// .footer-info-box .footer-logo {
//   padding-top: 48px;
// }
// .footer-wrap .inputbox input[type="text"] {
//   height: 40px;
//   line-height: 40px;
//   padding: 0 10px;
//   border-radius: 3px 0 0 3px;
//   border: none;
//   float: left;
// }
// .footer-wrap .inputbox .btn-submit {
//   height: 40px;
//   border-radius: 0 3px 3px 0;
//   border: none;
//   line-height: 40px;
//   font-size: 15px;
//   color: #00c08d;
//   font-weight: 700;
//   padding: 0 10px;
// }

.footer-widget h3 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  padding-bottom: 3px;
  border-bottom: 1px solid #fff;
  padding: 0 30px 10px 0;
  margin-bottom: 20px;
  display: inline-block;
}
// .footer-menu ul li a {
//   color: #fff;
//   font-size: 13px;
//   line-height: 1;
//   padding: 5px 0;
//   display: block;
// }
// .footer-menu ul li.current-menu-item a,
// .footer-menu ul li a:hover {
//   color: #5a9182;
// }

.footer-sub .widget-sub.newslatter {
  h3,
  p,
  form {
    text-align: right;
  }
  input {
    padding: 8px 15px;
  }
}
/* ======== footer finish ======= */
