.navigation-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

#userMenu {
  justify-content: space-between;
  margin-left: 20%;
  .navbar-nav {
    li a {
      font-size: 12px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      &:after {
        display: none;
      }
      i {
        background: $grey;
        padding: 8px;
        border-radius: 50%;
        position: relative;
        right: 50%;
        transform: translateX(50%);
      }
    }
    .dropdown-item {
      display: block !important;
      text-align: center;
    }
  }
}
.top-nav {
  background-color: $dark-light;
  padding: 0;
}
.primary-nav {
  padding: 0;
}
.primary-menu-toggler {
  margin-left: 20px;
  font-size: 12px;
  padding: 4px 10px;
  background: $logo-color;
  border: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: white;
  &:active,
  &:focus {
    box-shadow: none;
  }
}

.fake-menubar {
  height: 0;
  width: 100%;
  padding: 2px;
}

.primary-nav-container-mobile {
  position: absolute;
  top: 19px;
  left: 5px;
}
.primary-nav-container-mobile .primary-nav {
  position: relative;
  top: 18px;
  width: 200px;
  padding: 0 10px;
}

.top-nav .navbar-toggler,
.primary-nav-container-mobile .navbar-toggler {
  color: white !important;
  border-color: white !important;
  font-size: 14px;
}
@media only screen and (max-width: 768px) {
  #userMenu {
    margin-left: 8%;

    .navbar-nav {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-right: 12% !important;
      li a i {
        display: none;
      }
    }
  }

  // center logo position for mobile
  .navbar-brand {
    position: relative;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
}
