.category-banner {
  height: auto;
  background-size: cover;
  background-position: bottom;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
<<<<<<< HEAD

=======
>>>>>>> 13f779ba34669f165648c151428efb4f70c7455f
.category-name,
.category-description,
.total-posts {
  text-align: center;
  color: $grey2;
}

.tag-title span {
  text-transform: uppercase;
}
