.category-banner {
  height: 15.625rem;
  background-size: cover;
  background-position: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.category-name,
.category-description,
.total-posts {
  text-align: center;
  color: $grey2;
}

.tag-title span {
  text-transform: uppercase;
}
